<p>funciona</p>
<form class="needs-validation" novalidate [formGroup]="playerForm" (submit)="onSubmit()" style="color: aliceblue;">
    <p>Name:
        <input type="text" formControlName="name">
      </p>
      <p>Attack:
        <input type="number" formControlName="attack">
      </p>
      <p>Defense:
        <input type="number" formControlName="defense">
      </p>
      <p>Speed:
        <input type="number" formControlName="speed">
      </p>
      <p>is GoalKeeper?
        <select class="custom-select custom-select-lg mb-3" formControlName="goalkeeper" type="Boolean" >
          <option value="1">True</option>
          <option value="2">False</option>
        </select>
        
      </p>
      <button type="submit" class="btn btn-success" routerLink="list-player" >Confirmar</button>
    </form>

