<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">New Player</h2>
          <form class="needs-validation" novalidate [formGroup]="playerForm" (submit)="onSubmit()">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="name" formControlName="name" required>
              <div class="invalid-feedback">Por favor ingresa un nombre válido.</div>
            </div>
            <div class="form-group">
              <label for="attack">Attack</label>
              <input type="text" class="form-control" id="attack" formControlName="attack" required pattern="[0-9]{1,2}">
              <div class="invalid-feedback">Por favor ingresa un valor numérico entre 0 y 99 para el ataque.</div>
          </div>
          <div class="form-group">
              <label for="defense">Defense</label>
              <input type="text" class="form-control" id="defense" formControlName="defense" required pattern="[0-9]{1,2}">
              <div class="invalid-feedback">Por favor ingresa un valor numérico entre 0 y 99 para la defensa.</div>
          </div>
          <div class="form-group">
              <label for="speed">Speed</label>
              <input type="text" class="form-control" id="speed" formControlName="speed" required pattern="[0-9]{1,2}">
              <div class="invalid-feedback">Por favor ingresa un valor numérico entre 0 y 99 para la velocidad.</div>
          </div>
            <div class="form-group">
              <label for="goalkeeper">Is goalkeeper?</label>
              <select class="custom-select" id="goalkeeper" formControlName="goalkeeper" required>
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
              <div class="invalid-feedback">Por favor selecciona una opción.</div>
            </div>
            <button type="submit" class="btn btn-success btn-block">Confirmar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
