/* Añadir estilos para la información de habilidades */
.skill-info {
    margin-bottom: 12px; /* Añadir espacio debajo de la información de habilidades */
  }
  
  .btn {
    margin-top: 10px; /* Añadir espacio encima del botón */
  }

  /* Estilos para los botones en las tarjetas de jugador */
.card-body .btn {
  margin-right: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.card-body .btn:hover {
  background-color: #6c757d;
}

.card-body .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.card-body .btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.card-body .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.card-body .btn-danger:hover {
  background-color: #c82333;
  border-color: #c82333;
}

.card-body .btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.card-body .btn-success:hover {
  background-color: #218838;
  border-color: #218838;
}