<nav class="navbar navbar-dark bg-gradient">
    <a class="navbar-brand">{{title}}</a>
    <form class="form-inline">
        <button class="btn btn-outline-light animated-button" type="button" routerLink="active-players">Players ready to play!</button>
        <button class="btn btn-outline-light animated-button" type="button" routerLink="list-player">All players</button>
        <button class="btn btn-outline-light animated-button" type="button" routerLink="new-player">New player</button>
        <button class="btn btn-outline-light animated-button" type="button" routerLink="new-game">Mixed Players</button>
    </form>
</nav>
<div >
    <router-outlet class="player-list"></router-outlet>
</div>
