<div class="container">
    <h2 class="text-center">Players</h2>
    <div class="row">
      <div *ngFor="let player of players" class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ player.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Skills</h6>
            <div class="skill-info">
              <p class="card-text">Attack: {{ player.attack }}</p>
              <p class="card-text">Defense: {{ player.defense }}</p>
              <p class="card-text">Speed: {{ player.speed }}</p>
            </div>
          </div>
        </div>
    </div>
  </div>
